<footer class="container">
  <hr>
  <div class="row">
    <ul class="col-sm-6 list-inline">
      <li><a href="/home">Home</a></li>
      <li><a href=>Documentation</a></li>
      <li><a href="http://las.ethz.ch">Contact</a></li>
    </ul>
    <ul class="col-sm-6 list-inline">
      <li class="pull-right"><img
        class="img-responsive footer-icon" id="footer-appengine-logo"
        src="/img/appengine-noborder-120x30.gif?csw=1" /></li>
      <li class="pull-right"><img
        class="img-responsive footer-icon" id="footer-python-logo"
        src="/img/python-powered-w-70x28.png" /></li>
    </ul>
  </div>
</footer>
