<header>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <ul class="list-inline">
          <li><a href="#/waypoints">Waypoints</a></li>
          <li><a href="#/missions">Missions</a></li>
        </ul>
      </div>
      <div ng-show="userLoggedIn" class="col-sm-offset-2 col-sm-4">
        <div class="media pull-right">
          <a class="pull-left" href="#"> <img width="44px"
            class="media-object" ng-src="{{user.profileImg}}"
            title="My profile">
          </a>
          <div class="media-body">
            <h4 class="media-heading">
              {{user.username}} <a href="{{user.logout_url}}">Sign
                out</a>
            </h4>
            <span><b>Rank: </b><i>{{user.rank}}</i></span>
          </div>
        </div>
      </div>
      <div ng-show="userLoginRequired" class="col-sm-offset-2 col-sm-4">
        <div class="media pull-right">
          <a class="pull-left" href="#"> <img width="44px"
            class="media-object" src="/img/icons/user-default.svg"
            title="Please login...">
          </a>
          <div class="media-body">
            <h4 class="media-heading">
              <a ng-href="{{user.login_url}}">Login</a>
            </h4>
          </div>
        </div>
      </div>
      <div class="col-sm-offset-2 col-sm-4">
        <div class="pull-right">
          <form ng-show="userRegistrationRequired" class="form-inline">
            <div class="form-group">
              <input id="input-username" type="text"
                class="form-control" placeholder="Enter a username"
                ng-model="inputUsername">
            </div>
            <button ng-click="registerUser()" class="btn btn-primary">Register</button>
            <span class="form-control-static"><a
              ng-href="{{user.logout_url}}">Sign out</a></span>
          </form>
        </div>
      </div>
      <div ng-show="loadingLoginInfo" class="col-sm-offset-2 col-sm-4">
        <span class="pull-right">Checking your login
          information...</span>
      </div>
    </div>
  </div>
</header>
