<header>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a href="#" class="navbar-brand">Xplore</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="#/waypoints">Waypoints</a></li>
          <li><a href="#/missions">Missions</a></li>
        </ul>
        <p class="navbar-right navbar-text" ng-show="loadingLoginInfo">
          Checking your login information...</p>
        <div ng-show="userLoginRequired" class="navbar-right">
          <a ng-href="{{user.login_url}}"
            class="btn btn-primary navbar-btn">Sign in</a>
        </div>
        <form ng-show="userRegistrationRequired"
          class="navbar-form navbar-right">
          <div class="form-group">
            <input type="text" class="form-control"
              placeholder="Username" ng-model="inputUsername">
          </div>
          <button ng-click="registerUser()" class="btn btn-success">Register
            in Xplore</button>
        </form>
        <div ng-show="userLoggedIn" class="navbar-right">
          <a href="#" class="navbar-text navbar-link">{{user.rank}} {{user.username}}</a>
          <a href="{{user.logout_url}}" class="btn btn-warning navbar-btn">Sign out</a>
          
        </div>
      </div>
    </div>
  </nav>
</header>