<!DOCTYPE html>
<html>
<head>
<% block head %>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title><% block title %>Xplore<% endblock title %></title>
<link href='http://fonts.googleapis.com/css?family=Varela+Round'
  rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/stylesheets/reset.css">
<link rel="stylesheet" href="/stylesheets/default.css">
<link rel="stylesheet"
  href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link rel="stylesheet"
  href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

<% endblock head %>
</head>
<body>
  <div id="main" class="container">
    <header>
      <% block header %>
      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle"
              data-toggle="collapse" data-target="#navbar-collapsable">
              <span class="sr-only">Toggle navigation</span> <span
                class="icon-bar"></span> <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Xplore</a>
          </div>
          <div class="collapse navbar-collapse" id="navbar-collapsable">
            <ul class="nav navbar-nav">
              <li><a href="/home">Home</a></li>
              <li><a href="/doc">Help</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <% endblock header %>
    </header>
    <div id="content" class="row">
      <% block content %>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Suspendisse convallis, eros id imperdiet porttitor, augue nisi
        feugiat tortor, eu euismod arcu lacus ac nulla. Nam fermentum
        turpis metus, vel cursus leo sollicitudin et. Vestibulum ornare
        mi in rutrum egestas. Curabitur ac neque non erat lobortis
        blandit. Vivamus et faucibus quam. Nulla in cursus eros. Quisque
        vitae ipsum quis dolor consectetur fermentum nec ut sem. Aenean
        ut consectetur enim. Quisque imperdiet sodales gravida. Sed
        faucibus nulla nec ipsum hendrerit eleifend. Nam pharetra metus
        arcu, ut ullamcorper urna tristique ut. Pellentesque nulla
        ligula, ornare eu arcu nec, pretium laoreet erat. Vestibulum
        mattis enim quam, ut hendrerit diam rhoncus eu. Nam egestas
        mauris sit amet nunc vehicula, non tincidunt quam auctor. Nam
        dignissim risus sapien, sit amet vestibulum nunc sagittis nec.
        Aliquam hendrerit aliquet vestibulum.</p>
      <p>Aliquam sagittis porttitor faucibus. Nulla porttitor ante
        justo, a interdum orci consectetur non. Class aptent taciti
        sociosqu ad litora torquent per conubia nostra, per inceptos
        himenaeos. Etiam accumsan, arcu a tristique suscipit, purus quam
        egestas dolor, non convallis velit arcu sed purus. Mauris mi
        orci, pretium ultricies massa eu, hendrerit posuere ipsum.
        Mauris et adipiscing massa, vel facilisis turpis. Nam interdum
        justo vel quam accumsan feugiat.</p>
      <p>Vivamus laoreet, metus in consectetur mattis, felis nibh
        sagittis urna, non sollicitudin ante urna laoreet metus. Cras
        nisl ipsum, euismod placerat tristique eget, pellentesque at
        enim. Ut non magna elit. Ut nibh nulla, imperdiet non consequat
        nec, aliquet malesuada leo. Vivamus molestie arcu cursus,
        convallis turpis non, mattis elit. Mauris eget mi ornare, cursus
        nulla eu, adipiscing sem. Praesent dignissim ornare ultrices.
        Mauris luctus ut magna sit amet cursus. Nullam nec justo
        suscipit, dapibus nibh nec, aliquam urna. Nunc ultricies
        faucibus aliquam. Aliquam bibendum dignissim auctor.</p>
      <p>Fusce odio ligula, suscipit ac interdum ut, bibendum
        ultrices dui. Nulla facilisi. Vivamus eu pretium purus. Sed eget
        laoreet urna, eget fringilla nunc. Aliquam convallis massa at
        ornare tristique. Vestibulum interdum sodales pellentesque. Sed
        eget est vel odio cursus dignissim facilisis quis quam. Aliquam
        consequat lorem vel velit tincidunt vehicula. Maecenas gravida
        luctus aliquam. Cras nulla arcu, auctor eu enim quis,
        condimentum rutrum orci. Pellentesque volutpat egestas faucibus.
        Etiam sagittis iaculis mollis. Pellentesque sed rhoncus urna, ac
        euismod quam. Curabitur cursus vitae mi id hendrerit.</p>
      <p>Sed cursus suscipit tempor. Vestibulum a congue mauris.
        Mauris ultrices nulla ut risus molestie ornare et ut arcu.
        Mauris orci enim, pharetra vitae scelerisque ut, vulputate a
        leo. Duis metus risus, scelerisque in commodo sed, ornare sed
        tortor. Curabitur quis interdum est. Maecenas volutpat lobortis
        purus a vestibulum. Quisque nulla orci, sagittis sed tellus
        quis, luctus hendrerit ipsum. Aenean eros tellus, semper non
        tincidunt ac, faucibus ac enim.</p>
      <% endblock content %>
    </div>
    <hr>
    <footer class="row">
      <% block footer %>
      <ul class="col-sm-6 list-inline">
        <li><a href="/home">Home</a></li>
        <li><a href="/doc">Documentation</a></li>
        <li><a
          href="//github.com/dballesteros7/explore-city-server">Source</a></li>
        <li><a href="//las.ethz.ch">Contact</a></li>
      </ul>
      <div class="col-sm-2 col-sm-offset-2">
        <img class="img-responsive" id="footer-appengine-logo"
          src="img/appengine-noborder-120x30.gif?csw=1" />
      </div>
      <div class="col-sm-2">
        <img class="img-responsive" id="footer-python-logo"
          src="/img/python-powered-w-70x28.png" />
      </div>
      <% endblock footer %>
    </footer>
  </div>
  <% block jslibs %>
  <script
    src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script
    src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
  <script
    src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <% endblock jslibs %>
</body>
</html>