{% extends "layout.html" %}
{% block title %}Xplore login{% endblock title %}

{% block head %}
    {{super()}}
    <link rel="stylesheet" type="text/css" href="/stylesheets/vendor/css-social-buttons/css/zocial.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/login.css" />
{% endblock head %}

{% block content %}
<div id="welcome_banner" class="box left">
    <h1> Welcome! </h1>
    <span> Please select a service to login </span>
</div>
<div id="login_services" class="box right">
    <ul id="logins">
        <li><a href="" class="zocial facebook">Sign in with Facebook</a></li>
        <li><a href="" class="zocial googleplus">Sign in with Google</a></li>
        <li><a href="" class="zocial twitter">Sign in with Twitter</a></li>
    </ul>
</div>
{% endblock content %}