@CHARSET "UTF-8";

/* For Google Maps - I hate this height requirement :)*/
html,body {
  height: 100%;
}

#admin-map {
  min-height: 50em;
}

/* Ensure some height for the waypoint-list */
.xplore-object-list {
  height: 20em;
  overflow-y: auto;
}

.hidden-input {
  display: none;
}