html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }
#admin-map { height: 100%;
             width: 50%;
             float: left;
             }
#waypoint-list { height: 50%;
                 width: 48%;
                 padding: 5px;
                 float: left;
                 }
#waypoint-display { height: 45%;
                    width: 48%;
                    padding: 5px;
                    float: right;
                    }
#waypoint-list li {cursor: pointer;}
