html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }
#admin-map { height: 100%;
             width: 50%;
             float: left;
             }
.list-container { height: 10%;
                  width: 48%;
                  padding: 5px;
                  float: left;
                  overflow-y: scroll;
                }
#waypoint-display { height: 45%;
                    width: 48%;
                    padding: 5px;
                    float: right;
                    }
.list-container li {cursor: pointer;}
