html,body {
  height: 100%;
}

.angular-google-map {
  height: 100%;
  display: inline-block;
  width: 60%;
  vertical-align: top;
}

.angular-google-map .angular-google-map {
  width: 100%;
}

.angular-google-map-container {
  height: 100%;
}

#controls {
  height: 100%;
  margin-left: 10px;
  width: calc(40% - 10px);
  display: inline-block;
}

#controls > ul {
  border: 10px solid black;
  border-radius: 10px;
  padding-left: 15px;
  width: 50%;
  overflow: auto;
  height: 40%;
}