.angular-google-map-container,#waypoint-details,#similar-waypoints {
  min-height: 600px;
}

img.waypoint-display {
  max-height: 200px;
}

img.thumbnail-waypoint {
  max-width: 100%;
  max-height: 256px;
}
#similar-waypoints .media a{
  max-width: 50%;
}

/*
#related-missions-list {
  max-height: 150px;
  overflow-y: auto;
}

#similar-waypoint-list {
  max-height: 500px;
  overflow-y: auto;
}
*/