<div class="row">
  <google-map ng-class="map.size" control="map" center="map.center"
    zoom="map.zoom" draggable="{{map.draggable}}" events="map.events">
  <markers models="waypoints" coords="'self'" click="waypointClicked"
    icon="'icon'"></markers> </google-map>
  <div id="waypoint-details" class="col-sm-3"
    ng-show="displayWaypointInfo">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="waypoint-title">
          {{displayWaypoint.name}} <small>@({{displayWaypoint.latitude
            | number:2}}, {{displayWaypoint.longitude |number:2}})</small>
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="thumbnail">
          <img class="img-responsive waypoint-display"
            ng-src="{{displayWaypoint.image_url}}"
            title="{{displayWaypoint.name}}">
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-12">
        <h2>Xplore it!</h2>
        <div ng-show="displayWaypoint.user.completed" class="row">
          <div class="col-sm-12">
            <strong>Congrats! You have completed this waypoint
              already.</strong>
          </div>
        </div>
        <div ng-show="displayWaypoint.user.completed" class="row">
          <div class="col-sm-12">
            <a>Recommend this waypoint to a friend</a>
          </div>
        </div>
        <div ng-hide="displayWaypoint.user.completed" class="row">
          <p class="col-sm-12">
            <strong>You have not completed this waypoint.</strong> <em>This
              waypoint is part of these missions:</em>
          </p>
        </div>
        <div ng-hide="displayWaypoint.user.completed" class="row">
          <div class="col-sm-12">
            <div id="related-missions-list" class="list-group">
              <li class="list-group-item"
                ng-repeat="relatedMission in displayWaypoint.missions">
                <a href="{{relatedMission.link}}">{{relatedMission.name}}</a>
              </li>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="similar-waypoints" class="col-sm-3"
    ng-show="displayWaypointInfo">
    <div class="row">
      <div class="col-sm-12">
        <h2>Xplore recommends</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <ul id="similar-waypoint-list" class="media-list">
          <li ng-repeat="similarWaypoint in displayWaypoint.similar"
            class="media"><a class="pull-left"> <img
              class="media-object thumbnail-waypoint img-rounded"
              ng-src="{{similarWaypoint.image_url}}">
          </a>
            <div class="media-body">
              <h4 class="media-heading">{{similarWaypoint.name}}</h4>
            </div></li>
        </ul>
      </div>
    </div>
  </div>
</div>